datasets
torchvision
scipy
invisible-watermark>=0.2.0
torchao
safetensors
controlnet_aux
mediapipe
bitsandbytes
gguf
optimum-quanto
xformers
tomesd
tgate
DeepCache
xfuser
jax==0.3.25
jaxlib==0.3.25
flax
ftfy